<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.4.1/css/all.css}" href="/webjars/font-awesome/5.4.1/css/all.css">

    <link rel="stylesheet" type="text/css" th:href="@{/css/library.css}" href="/css/library.css" />

    <title>Library Application</title>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <span class="navbar-brand">Library App</span>
</nav>

<main role="main">
    
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 th:text="#{customer.heading}">Customers</h2>
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th th:text="#{customer.header.id}">#</th>
                            <th th:text="#{customer.header.name}">Name</th>
                            <th th:text="#{customer.header.phone}">Phone</th>
                            <th th:text="#{customer.header.email}">Email</th>
                            <th th:class="text-center" th:text="#{customer.header.lending}">Lending</th>
                            <th/>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="customer: ${customers}">
                            <td th:text="${customer.id}">Customer Id</td>
                            <td th:text="${customer.fullName}">Customer Name</td>
                            <td th:text="${customer.phone}">Customer Phone</td>
                            <td th:text="${customer.email}">Customer Email</td>
                            <th:block th:if="${customer.lending}">
                                <td th:class="text-center">
                                    <i style="color: darkgreen" class="fas fa-user-check"></i>
                                </td>
                                <td th:class="text-center">
                                    <button name="btnBookDetail" th:id="${customer.id}"
                                            class="btn btn-primary btn-sm" type="button">details</button>
                                </td>
                            </th:block>
                            <th:block th:if="${!customer.lending}">
                                <td th:class="text-center">
                                    <i style="color: darkred" class="fas fa-user-times"></i>
                                </td>
                                <td/>
                            </th:block>
                        </tr>
                        </tbody>
                    </table>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <div id="bookDetailText"></div>
                            <div><button id="btnCloseDetail" class="btn btn-primary btn-sm" type="button">close</button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <h2 th:text="#{book.heading}">Books</h2>
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th th:text="#{books.header.id}">#</th>
                            <th th:text="#{books.header.title}">Title</th>
                            <th th:text="#{books.header.author}">Author</th>
                            <th th:text="#{books.header.isbn}">ISBN</th>
                            <th th:class="text-center" th:text="#{books.header.available}">Available</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="book: ${books}">
                            <td th:text="${book.id}">Book Title</td>
                            <td th:text="${book.title}">Book Title</td>
                            <td th:text="${book.author}">Book Author</td>
                            <td th:text="${book.isbn}">Book ISBN</td>
                            <td th:class="text-center" th:if="${book.available}">
                                <span class="badge badge-pill badge-success">Yes</span>
                            </td>
                            <td th:class="text-center" th:if="${!book.available}">
                                <span class="badge badge-pill badge-danger">No</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="container">
    <p>&copy; 2018</p>
</footer>


<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}" src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}" src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}" src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/nla.home.js}" src="/js/nla.home.js"></script>
</body>
</html>